// green
$apple-green: #55d040;

// black
$theme-black: #3b3f4e;

// gray
$light-gray: #c2c2c2;
$ultra-light-gray: #fafafa;

// theme
$primary: $apple-green;
$dark: $theme-black;

@import "~bootstrap/scss/bootstrap.scss";
